// This is our current pallete of colors.
//
// It should be the only source of colors in styles (i.e. no one-shot colors,
// all `color`, `background-color` etc. should use variables defined here).
//
// NOTE: the hue and saturation is identical in all grays, keep it this way

/* 
  KoBo: To facilitate product upgrades, we keep the references to the default color 
  variables, but change their color values to match with iMMAP's branding. 
*/

/*
  Group 1: Blueish grays
*/

// (accessible) our black, very very rare, only use if necessary for contrast
$kobo-gray-14: hsl(225, 16%, 14%); // #1e2129

// (accessible) active text, important text, text on background, top navigation
// background
$kobo-gray-24: hsl(225, 16%, 24%); // #333847

// (accessible) default text, inactive text, options text, buttons text,
// tabs text, notifications background, hover for popups and dropdowns
$kobo-gray-40: hsl(225, 2%, 44%); // #6e6f72

// (readable) clickable icons on hover
$kobo-gray-55: hsl(225, 16%, 55%); // #7a839f

// icons default (clickable), arrows and indicators default
$kobo-gray-65: hsl(206, 3%, 50%); // #7c8083

// inactive icons, some decorative icons
$kobo-gray-85: hsl(225, 16%, 85%); // #d3d6df

// scroll bars, table lines, dividers, background of clickable icons on hover
// when also in a highlighted table row
$kobo-gray-92: hsl(206, 4%, 66%); // #a5a9ac

// default light background, icons on hover, sidebar menu, table headings, …
$kobo-gray-96: hsl(225, 16%, 96%); // #f3f4f6

// table row highlight on hover
$kobo-gray-98: hsl(225, 16%, 98%); // #f9f9fb

// white background
$kobo-white: hsl(225, 16%, 100%); // #ffffff

// DEPRACATED COLORS
//
// please use this migration guide if your PR uses one of them:
//
// $kobo-black --> $kobo-gray-24;
// $kobo-darkgray --> $kobo-gray-40;
// $kobo-midgray --> $kobo-gray-65;
// $kobo-lightgray --> $kobo-gray-92;
// $kobo-whitegray --> $kobo-gray-96;

/*
  Group 2: Accent colors
*/

$kobo-blue: hsl(358, 70%, 44%);
$kobo-blue-darker: hsl(2, 64%, 39%);
$kobo-blue-dark: hsl(1, 43%, 48%);
$kobo-blue-light: hsl(1, 36%, 55%);
$kobo-blue-pale: hsl(1, 34%, 63%);

$kobo-teal: hsl(358, 70%, 44%);
$kobo-teal-light: hsl(1, 36%, 55%); // the row hover color
$kobo-teal-pale: hsl(1, 34%, 63%);
$kobo-teal-pale-dark: hsl(1, 32%, 33%);

// positive colors
$kobo-green: hsl(115, 41%, 31%);
$kobo-green-dark: hsl(169, 80%, 25%);
$kobo-green-light: hsl(170, 63%, 43%);

// error/negative colors
$kobo-red: hsl(205, 100%, 30%);
$kobo-red-dark: hsl(216, 59%, 24%);
$kobo-red-light: hsl(205, 60%, 48%);
$kobo-red-pale: hsl(208, 61%, 72%);
$kobo-red-pale-dark: hsl(205, 59%, 60%);

// warning colors
$kobo-orange: hsl(16, 83%, 50%);
$kobo-orange-dark: hsl(16, 23%, 23%);
$kobo-orange-light: hsl(357, 19%, 79%);
$kobo-orange-pale: hsl(30, 100%, 89%);
$kobo-orange-pale-dark: hsl(30, 20%, 35%);
